body{ font: 61.8% "Trebuchet MS", sans-serif; margin: 50px; width: 70% }
label, input { display:block; }
#modal-dialog { font-size: 110%; }
#modal-dialog input.text textarea { margin-bottom:12px; width:95%; padding: .4em; }
#modal-dialog fieldset { padding:0; border:0; margin-top:25px; }
#footer { font: 100% "Trebuchet MS", sans-serif; border-top: 1px solid black; margin-top: 50px; padding-top: 10px;}
#footer ul { margin-right: 50px; list-style: none; padding: 0; margin: 0; }
#footer li { float: left; margin: 0 0.15em}
.navlist ul { list-style: none; padding: 0; margin: 0; }
.navlist li { float: left; display: inline; margin: 0 0.15em; }
.description { clear: both; margin-top: 25px; padding-top: 5px; border-top: 1px solid black; }
#branding{ font: 500% "Trebuchet MS", sans-serif; margin-left: 50px; margin-bottom: 20px; float: left}
#linklist { float: right; margin-right: 50px; }
#linklist ul{ list-style: none; padding: 0; margin: 0; }
#linklist li{ float: left; margin: 0 0.15em}
#linklist a{ font: 120% "Trebuchet MS", sans-serif; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
.clear { clear: both; }
#content{ }
#rhs{ float: right; width: 20%; position:absolute; top: 100px; right: 300px; font-size: 150%;}
#main{ font: 100% "Trebuchet MS", sans-serif; margin: 50px; width:70%}
.code{font: 110% "Courier", fixed}
.infopanel {font-size: 130%; width: 100%; padding: 5px; margin-bottom: 10px; }
.infopanel label, div { display:block; }
div .hidden {visibility:hidden;}