<beans xmlns="http://www.springframework.org/schema/beans"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns:context="http://www.springframework.org/schema/context"
          xmlns:tx="http://www.springframework.org/schema/tx"
          xsi:schemaLocation="
   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
       <context:component-scan base-package="se.swami.saml.metadata.rest"/>
       
       	<bean id="neoService" class="org.neo4j.api.core.EmbeddedNeo"
                init-method="enableRemoteShell" destroy-method="shutdown">
                <constructor-arg index="0" value="/tmp/neo" />
        </bean>
        <bean id="indexService" class="org.neo4j.util.index.NeoIndexService"
                destroy-method="shutdown">
                <constructor-arg index="0" ref="neoService" />
        </bean>
                
        <bean id="metadataStore" class="se.swami.saml.metadata.store.neo4j.NeoStore"/>
        <bean id="collector" class="se.swami.saml.metadata.collector.impl.BasicMetadataCollector"/>
        
        <!-- entity factories -->
        <bean id="entityDescriptorFactory" class="se.swami.saml.metadata.store.neo4j.NodeFactoryImpl">
        	<constructor-arg index="0" value="se.swamisaml.metadata.store.neo4j.domain.EntityDescriptor"/>
        </bean>
        <bean id="locationFactory" class="se.swami.saml.metadata.store.neo4j.NodeFactory">
        	<constructor-arg index="0" value="se.swamisaml.metadata.store.neo4j.domain.Location"/>
        </bean>
        
        <!-- Transactions -->
        <tx:annotation-driven />
        <bean id="transactionManager"
                class="org.springframework.transaction.jta.JtaTransactionManager">
                <property name="transactionManager" ref="neoTransactionManagerService" />
                <property name="userTransaction" ref="neoUserTransactionService" />
        </bean>
        <bean id="neoTransactionManagerService" class="org.neo4j.impl.transaction.SpringTransactionManager" />
        <bean id="neoUserTransactionService" class="org.neo4j.impl.transaction.UserTransactionImpl" />
</beans>
