<html>
<head>
<title>Metadata</title>
</head>
<body>
<ul>
#foreach($entity in $entities)
   <li><a href="#springUrl("/md/entity/id/${entity.ID}.html")">${entity.entityID}</a></li>
#end
</ul>
</body>
</html>