<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:integration="http://www.springframework.org/schema/integration"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/integration 
                        http://www.springframework.org/schema/integration/spring-integration-1.0.xsd
            			http://www.springframework.org/schema/integration/stream 
            			http://www.springframework.org/schema/integration/stream/spring-integration-stream-1.0.xsd">

	<context:annotation-config />
	<context:component-scan base-package="net.nordu.mdx" />

	<bean id="neoService" class="org.neo4j.kernel.EmbeddedGraphDatabase"
		init-method="enableRemoteShell" destroy-method="shutdown">
		<constructor-arg index="0" value="${mdx.neo4j.directory}" />
	</bean>

	<bean id="indexService" depends-on="neoService" class="org.neo4j.index.lucene.LuceneIndexService"
		destroy-method="shutdown">
		<constructor-arg index="0" ref="neoService" />
	</bean>

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:mdx.properties</value>
		</property>
		<property name="systemPropertiesMode"><value>2</value></property>
	</bean>

	<bean id="signer" class="net.nordu.mdx.signer.impl.JKSSigner"
		init-method="initialize">
		<property name="providerClassName">
			<value>${mdx.signer.provider.class}</value>
		</property>
		<property name="providerType">
			<value>${mdx.signer.provider.type}</value>
		</property>
		<property name="pin">
			<value>${mdx.signer.pin}</value>
		</property>
		<property name="configName">
			<value>${mdx.signer.config}</value>
		</property>
		<property name="keyStoreLocation">
			<value>${mdx.signer.keystore}</value>
		</property>
	</bean>

	<bean id="signerSelector" class="net.nordu.mdx.signer.impl.StaticSignerSelector">
		<property name="signerInfo">
			<bean class="net.nordu.mdx.signer.impl.StaticSignerInfo">
				<property name="alias"><value>${mdx.signer.alias}</value></property>
				<property name="validity"><value>${mdx.signer.validity}</value></property>
				<property name="cacheDuration"><value>${mdx.signer.cacheduration}</value></property>
			</bean>
		</property>
	</bean>

	<bean id="index" class="net.nordu.mdx.index.neo4j.Neo4JMetadataIndex" />

	<bean id="storeFactory" class="net.nordu.mdx.store.MetadataStoreFactory"/>
		
	<bean id="store" factory-bean="storeFactory" factory-method="createInstance">
		<constructor-arg><value>${mdx.store.url}</value></constructor-arg>
	</bean>

	<!-- Check for new metadata every N seconds using the store scanner -->
	<bean id="scanner" factory-bean="store" factory-method="scanner"/>
	<bean id="scannerScheduler" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="delay"><value>${mdx.scanner.delay}</value></property>
		<property name="period"><value>${mdx.scanner.period}</value></property>
		<property name="timerTask" ref="scanner" />
	</bean>

	<bean id="timerFactory" depends-on="indexService" class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<!-- see the example above -->
				<ref bean="scannerScheduler" />
			</list>
		</property>
	</bean>
	
	<integration:poller max-messages-per-poll="10" id="defaultPoller" default="true">
		<integration:interval-trigger interval="1000" />
	</integration:poller>
	<integration:gateway service-interface="net.nordu.mdx.scanner.MetadataChangeNotifier" id="changeNotifier"/>
	<integration:channel id="changes">
		<integration:queue/>
	</integration:channel>
	<bean id="indexer" class="net.nordu.mdx.scanner.MetadataIndexer"/>
	<integration:service-activator input-channel="changes" method="index" ref="indexer"/>

</beans>